.form
    &__names
        display: flex
        .MuiFormControl-fullWidth+.MuiFormControl-fullWidth
            margin-left: 10px
    &__header
        display: flex
        justify-content: center
        align-items: center
