*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body{
  color: #000000;
  padding: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input{
  border: none;
  border-bottom: 2px solid #C4C4C4;

}

.input-text:focus{
  border-bottom: 2px solid #2629FF;
}

.input-text::placeholder{
  color:#BEBEBE;
}

.btn{
  border: none;
  background-color: #2629FF;
  cursor: pointer;
  padding: 10px 15px;
  color: #ffffff;
  opacity: .8;
}

table{
  background-color: #D9D9D9;
}

th, td{
  padding: 10px 15px;
  text-align: center;
}

tr:not(:last-child){
  border-bottom: 1px solid #CBCBCB;
}

tr:not(:first-child):hover{
  background-color: #B8B8B8;
}

.balance{
  font-size: 48px;
}