.form__names {
  display: flex;
}
.form__names .MuiFormControl-fullWidth + .MuiFormControl-fullWidth {
  margin-left: 10px;
}
.form__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  background-color: #D9D9D9;
  width: 100%;
}

th,
td {
  padding: 10px 15px;
  text-align: center;
}

tr:not(:last-child) {
  border-bottom: 1px solid #CBCBCB;
}
tr:not(:first-child):hover {
  background-color: #B8B8B8;
}

.table {
  width: 80%;
}
.table__inputs {
  display: flex;
  align-items: center;
}
.table__btn {
  height: 30%;
}
.table .MuiFormControl-marginNormal {
  margin-right: 7px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}