.form__head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form__names {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.form__names .MuiFormControl-fullWidth #firstName {
  margin-top: 0;
}
.form__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__avatar {
  flex: 0 0 50%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
  height: 100%;
}
.form__avatar .MuiOutlinedInput-notchedOutline {
  border: none;
}
.form__avatar .MuiFormControl-marginNormal {
  margin-top: 0px;
}
.form__avatar .MuiOutlinedInput-input {
  padding-top: 10px;
  padding-bottom: 5px;
}
.form__avatar--load {
  border: none;
  opacity: 1;
}
.avatar {
  width: auto;
  height: 120px;
  border-radius: 30px;
  margin-bottom: 10px;
}

.btnAVA {
  height: 40px;
}

table {
  background-color: #D9D9D9;
  width: 100%;
}

th,
td {
  padding: 10px 15px;
  text-align: center;
}

tr:not(:last-child) {
  border-bottom: 1px solid #CBCBCB;
}
tr:not(:first-child):hover {
  background-color: #B8B8B8;
}

.table {
  width: 80%;
}
.table__inputs {
  display: flex;
  align-items: center;
}
.table__btn {
  height: 30%;
}
.table .MuiFormControl-marginNormal {
  margin-right: 7px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}