#root{
  padding-top: 50px;
}

.link{
  text-decoration: none;
  color: #000000;
}

.link:not(:last-child){
  margin-right: 20px;
}

.active-link{
  color: green;
}

.nav{
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
  z-index: 999;
  background-color: grey;
}